@model LTSMVC.Classes.Home.HomeIndex

@{
    ViewData["Title"] = "Домашняя страница";
}

<script>
    function onChangeTikets(newOrActive) {
        var url = '@Url.Action("onChangeTikets", "Home")';
        var element = document.getElementById("tikets");
        $.get(url, { newOrActive: newOrActive }, function (data) {
            let str = "";
            console.log(data);
            if (Object.keys(data).length != 0) {
                for (let i = 0; i < Object.keys(data).length; i++) {
                    str = str + "<div class=\"border heigh-index-element d-flex\">";
                    str = str + "<div class=\"p-2 glow-1 w-100per d-flex flex-column\">";
                    str = str + "<a href=\"/ltsMvc/Dialog?ticketId=" + data[i]['id'] + "\"class=\"text-decoration-none\" style=\"color: #000\">";
                    str = str + "<h6 class=\"mb-1\">" + data[i]['staffName'] + "</h6>"
                    str = str + "<p class=\"small mb-0\">" + data[i]['ticketProblem'] + "</p>";
                    str = str + "<p class=\"small mb-0\">" + data[i]['dateOpen'] + "</p>";
                    str = str +"</a>" + "</div>" + "<div class=\"\">";
                    if (newOrActive == true)
                        str = str + "<button type = \"button\" class=\"btn btn-outline-primary heigh-index-element\" onclick=\"takeToWork("+data[i]['id']+")\"> Взять в работу </button>";
                    str = str +"</div></div>";
                }

            }
            else {
                str = str + "<center><h4>Задачи отсутствуют</h4></center>";
            }
            element.innerHTML = str;
        });
        if (newOrActive == true) {
            document.getElementById("new_tickets").className = "btn btn-primary mg-0";
            document.getElementById("active_tickets").className = "btn mg-0";
        }
        else {
            document.getElementById("new_tickets").className = "btn mg-0";
            document.getElementById("active_tickets").className = "btn btn-primary mg-0";
        }
    }

    function takeToWork(Id) {
        $.ajax({
            method: "POST",
            data: {
                "Id": Id},
            url: '@Url.Action("ChangePartner", "Home")',
            success: function (data) {
                window.location.href = "Ltsmvc/Dialog?ticketId=" + Id;
            },
            error: function () {
                alert("Ошибка взятия задания. Страница будет обновлена");
                location.reload();
            }
        })
    }
    function StatusTicket( id) {
        $.ajax({
            method: "POST",
            data: {
                "id": id,
                "status": 1},
                url: '@Url.Action("ChangeStatus", "Tasks")',
                success: function (data) {
                    alert("Задача выполнена!");
                    location.reload();
                },
                error: function (){
                    alert("Ошибка смены исполнителя"); location.reload();
                }
        })
                
        }
</script>

<div class="text-center">
    @*<h1 class="display-5">Welcome @User.Identity.Name</h1>*@
    <h1 class="display-5">Welcome tmh-zapadniy\Дмитрий Сергеевич</h1>
</div>

<div>
    <div class="row">
        <div class="col-md-4 column ui-sortable">
            <h2>Активные заявки</h2>
            <div class="d-flex flex-row justify-content-between">
                <button id="new_tickets" type="button" class="btn btn-primary mg-0" onclick="onChangeTikets(true)">
                    Новые
                    <span class="badge badge-light">@Model.CountNewTickets</span>
                </button>
                <button id="active_tickets" type="button" class="btn mg-0" onclick="onChangeTikets(false)">
                    Активные
                    <span class="badge badge-light">@Model.CountActiveTikets</span>
                </button>
                <a class="btn mg-0" asp-controller="TicketsList" asp-action="Index">Все заявки</a>      
                
            </div>
            <div class="border heigh-index" id="tikets">
                @if (Model.CountNewTickets > 0)
                {
                        foreach(var item in Model.Tickets)
                        {
                        <div class="border heigh-index-element d-flex">
                            <div class="p-2 glow-1 w-100per d-flex flex-column">
                                <a asp-controller="Dialog" asp-action="Index" asp-route-ticketId="@item.Id" class="text-decoration-none" style="color: #000">
                                    <h6 class="mb-1">@Html.DisplayFor(modelitem => item.Staff.StaffName)</h6>
                                    <p class="small mb-0">@Html.DisplayFor(modelitem => item.TicketProblem)</p>
                                    <p class="small mb-0">@Html.DisplayFor(modelitem => item.DateOpen)</p>
                                </a>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-outline-primary heigh-index-element" onclick="takeToWork(@item.Id)"> Взять в работу </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-4 column ui-sortable">
            <h2>
                Личные задачи
            </h2>
            <div class="d-flex flex-row justify-content-between">
                <button type="button" class="btn btn-primary mg-0">
                    Активные
                    <span class="badge badge-light">@Model.CountActiveTasks</span>
                </button>
                <a class="btn mg-0" asp-action="Index" asp-controller="Tasks">
                    Все задачи
                </a>
            </div>
            <div class="border heigh-index">
                @if (Model.CountActiveTasks > 0)
                {
                    foreach (var item in Model.StaffsTasks)
                    {
                        <div class="border heigh-index-element d-flex">
                            <div class="p-2 glow-1 w-100per d-flex flex-column">
                                <a class="text-decoration-none" style="color: #000" asp-controller="Tasks" asp-action="Comments" asp-route-taskId="@item.Task">
                                    <h6 class="mb-1">@Html.DisplayFor(modelitem => item.Tasks.Name)</h6>
                                    <p class="small mb-0">@Html.DisplayFor(modelitem => item.Tasks.Job)</p>
                                    @if (item.Tasks.Deadline == null)
                                    {
                                        <p class="small mb-0">@Html.DisplayFor(modelitem => item.Tasks.DateOpen)</p>
                                    }
                                    else
                                    {
                                        if (DateTime.Now < item.Tasks.Deadline)
                                        {
                                            <p class="small mb-0">◷@Html.DisplayFor(modelitem => item.Tasks.Deadline)</p>
                                        }
                                        else
                                        {
                                            <p class="small mb-0 red">◷@Html.DisplayFor(modelitem => item.Tasks.Deadline)</p>
                                        }
                                    }
                                </a>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-outline-primary heigh-index-element" onclick="StatusTicket(@item.Task)"> Выполнено </button>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="col-md-4 column ui-sortable">
            <h2>
                События
            </h2>
            <div class="d-flex flex-row justify-content-between">
                <button type="button" class="btn btn-primary mg-0">
                    Будущие
                    <span class="badge badge-light">0</span>
                </button>
                <a class="btn mg-0" asp-action="Index" asp-controller="Events">
                    Все
                </a>
                <a asp-action="Create" asp-controller="Events" class="btn mg-0">
                    Создать
                </a>

            </div>
            <div class="border heigh-index">
                @if (Model.CountFutureEvents > 0)
                {
                    foreach (var item in Model.Events)
                    {
                        <div class="border heigh-index-element">
                            <div class="p-2 w-100per">
                                <h6 class="mb-1">@item.Staff.StaffSub</h6>
                                <p class="small mb-0">@item.Theme</p>
                                <p class="small mb-0">@item.DateTimeOfEvent</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
