@model LTSMVC.Classes.Home.HomeIndex

@{
    ViewData["Title"] = "Home Page";
}

<script>
    function onChangeTikets(newOrActive) {
        var url = '@Url.Action("onChangeTikets", "Home")';
        var element = document.getElementById("tikets");
        $.get(url, { newOrActive: newOrActive }, function (data) {
            let str = "";
            console.log(data);
            if (Object.keys(data).length != 0) {
                for (let i = 0; i < Object.keys(data).length; i++) {
                    str = str + "<div class=\"border heigh-index-element d-flex\">";
                    str = str + "<div class=\"p-2 glow-1 w-100per d-flex flex-column\">";
                    str = str + "<h6 class=\"mb-1\">" + data[i]['staffName'] + "</h6>"
                    str = str + "<p class=\"small mb-0\">" + data[i]['ticketProblem'] + "</p>";
                    str = str + "<p class=\"small mb-0\">" + data[i]['dateOpen'] + "</p>";
                    str = str + "</div>" + "<div class=\"\">";
                    if (newOrActive == false)
                        str = str + "<button type = \"button\" class=\"btn btn-outline-primary heigh-index-element\"> Открыть тикет </button>";
                    else
                        str = str + "<button type = \"button\" class=\"btn btn-outline-primary heigh-index-element\"> Взять в работу </button>";
                    str = str +"</div></div>";
                }

            }
            else {
                str = str + "<center><h4>Задачи отсутствуют</h4></center>";
            }
            element.innerHTML = str;
        });
        if (newOrActive == true) {
            document.getElementById("new_tickets").className = "btn btn-primary mg-0";
            document.getElementById("active_tickets").className = "btn mg-0";
        }
        else {
            document.getElementById("new_tickets").className = "btn mg-0";
            document.getElementById("active_tickets").className = "btn btn-primary mg-0";
        }
    }
</script>

<div class="text-center">
    <h1 class="display-5">Welcome @User.Identity.Name</h1>
</div>

<div>
    <div class="row">
        <div class="col-md-4 column ui-sortable">
            <h2>Активные завки</h2>
            <div class="d-flex flex-row justify-content-between">
                <button id="new_tickets" type="button" class="btn btn-primary mg-0" onclick="onChangeTikets(true)">
                    Новые
                    <span class="badge badge-light">@Model.CountNewTickets</span>
                </button>
                <button id="active_tickets" type="button" class="btn mg-0" onclick="onChangeTikets(false)">
                    Активные
                    <span class="badge badge-light">@Model.CountActiveTikets</span>
                </button>
                <a class="btn mg-0" asp-controller="TicketsList" asp-action="Index">Все заявки</a>      
                
            </div>
            <div class="border heigh-index" id="tikets">
                @if (Model.CountNewTickets > 0)
                {
                        foreach(var item in Model.Tickets)
                        {
                        <div class="border heigh-index-element d-flex">
                            <div class="p-2 glow-1 w-100per d-flex flex-column">
                                <h6 class="mb-1">@Html.DisplayFor(modelitem => item.Staff.StaffName)</h6>
                                <p class="small mb-0">@Html.DisplayFor(modelitem => item.TicketProblem)</p>
                                <p class="small mb-0">@Html.DisplayFor(modelitem => item.DateOpen)</p>
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-outline-primary heigh-index-element"> Взять в работу </button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-4 column ui-sortable">
            <h2>
                Личные задачи
            </h2>
            <div class="d-flex flex-row justify-content-between">
                <button type="button" class="btn mg-0">
                    Активные
                    <span class="badge badge-light">0</span>
                </button>
                <button type="button" class="btn btn-primary mg-0">
                    Все задачи
                </button>

            </div>
            <div class="border heigh-index">
                @if (Model.CountActiveTasks > 0)
                {
                    foreach (var item in Model.StaffsTasks)
                    {
                        <div class="border heigh-index-element d-flex">
                            <div class="p-2 glow-1 w-100per d-flex flex-column">
                                <h6 class="mb-1">@Html.DisplayFor(modelitem => item.Tasks.Name)</h6>
                                <p class="small mb-0">@Html.DisplayFor(modelitem => item.Tasks.Task)</p>
                                @if (item.Tasks.Deadline == null)
                                {
                                    <p class="small mb-0">@Html.DisplayFor(modelitem => item.Tasks.DateOpen)</p>
                                }
                                else
                                {
                                    if (DateTime.Now < item.Tasks.Deadline)
                                    {
                                        <p class="small mb-0">◷@Html.DisplayFor(modelitem => item.Tasks.Deadline)</p>
                                    }
                                    else
                                    {
                                        <p class="small mb-0 red">◷@Html.DisplayFor(modelitem => item.Tasks.Deadline)</p>
                                    }
                                }
                            </div>
                            <div class="">
                                <button type="button" class="btn btn-outline-primary heigh-index-element"> Выполнено </button>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="col-md-4 column ui-sortable">
            <h2>
                События
            </h2>
            <div class="d-flex flex-row justify-content-between">
                <button type="button" class="btn btn-primary mg-0">
                    Будущие
                    <span class="badge badge-light">0</span>
                </button>
                <button type="button" class="btn mg-0">
                    Все
                </button>
                <button type="button" class="btn mg-0">
                    Создать
                </button>

            </div>
            <div class="border heigh-index">
                <div class="border heigh-index-element">
                    <div class="p-2 w-100per">
                        <h6 class="mb-1">Заголовок</h6>
                        <p class="small mb-0">Краткое описание...</p>
                        <p class="small mb-0">дедлайн или тайминг</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
