@model LTSMVC.Models.NetworkAddress

@{
    ViewData["Title"] = "Удалить запись";
}

<h1>Удалить запись</h1>

<h3>Вы действительно хотите удалить запись??</h3>
<div>
    <h4>Сеть</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Network)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Network)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machine.InvNumber)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
