@model LTSMVC.Models.RemoveControl

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Удаленное подключение</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnyDesk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnyDesk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnyDeskPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnyDeskPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamViewer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamViewer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamViewerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamViewerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmmyAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmmyAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmmyAdminPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmmyAdminPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rdp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rdp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machines.InvNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
