@model LTSMVC.Models.MachinesConnect

@*@using (Ajax.ActionLink("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))*@
    


    @{
        ViewData["Title"] = "Добавление Записи";
    }

<script>
    function onMachineChange(id) {

        var url = '@Url.Action("InfoUpdate", "MachinesConnects")';
        $.get(url, { id: id }, function (data) {
            console.log(data);
            console.log($("#MachineType"))
            $("#MachineType").html(data.type);
            $("#MachineName").html(data.name);
            $("#MachineInvNumber").html(data.invNumber);
            $("MachineStatus").html(data.statis);
            $("MachinePlace").html(data.place);
        });
    }

</script>


<h1>Добавление Записи</h1>


<hr />
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highligh">
        <h4>Пользователи</h4>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MachinesId" class="control-label"></label>
                        <select asp-for="MachinesId" class="form-control" asp-items="ViewBag.MachinesId"
                                onchange="onMachineChange(this.options[this.selectedIndex].value)"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Login" class="control-label"></label>
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Pass" class="control-label"></label>
                        <input asp-for="Pass" class="form-control" />
                        <span asp-validation-for="Pass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IsAdmin" class="control-label"></label>
                        <input asp-for="IsAdmin" class="form-control" />
                        <span asp-validation-for="IsAdmin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="p-2 flex-fill bd-highligh">
        <h4>Информация о машине</h4>
        <dt class="col-sm-2">
            <label>Тип</label>
        </dt>
        <dd class="col-sm-10" id="MachineType">
            @Model.Machines.Type
        </dd>
        <dt class="col-sm-2">
            <label>Наименование</label>
        </dt>
        <dd class="col-sm-10" id="MachineName" >
            @Model.Machines.Name
        </dd>
        <dt class="col-sm-2">
            <label>Инвентарный номер</label>
        </dt>
        <dd class="col-sm-10" id="MachineInvNumber">
            @Model.Machines.InvNumber
        </dd>
        <dt class="col-sm-2">
            <label>Статус</label>
        </dt>
        <dd class="col-sm-10" id="Machine.Status">
            @Model.Machines.Status
        </dd>
        <dd class="col-sm-2">
            <label>Местоположение</label>
        </dd>
        <dd class="col-sm-10" id="MachinePlace">
            @Model.Machines.Place
        </dd>
    </div>
</div>
<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
