@model IEnumerable<LTSMVC.Models.MachinesConnect>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<div class="d-flex justify-content-between">
    <a asp-action="Create">Добавить</a>
    <a asp-controller="Tools" asp-action="BdList">Назад</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machines)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machines.InvNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
