@model IEnumerable<LTSMVC.Models.JournalMachine>

@{
    ViewData["Title"] = "Журнал";
}

<h1>Журнал изменений техники</h1>

<p>
    <a>Заглушка</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TriggerUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="w-25">
                @Html.DisplayFor(modelItem => item.TriggerUser)
            </td>
            <td class="w-25">
                <div class="width-journal">
                    @Html.DisplayFor(modelItem => item.State)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td class="w-20">
                <p>
                    @Html.DisplayFor(modelItem => item.MachinesId)
                    (@Html.DisplayFor(modelItem => item.Machine.InvNumber))
                </p>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
        </tr>
}
    </tbody>
</table>
