@using LTSMVC.Services
@model LTSMVC.Models.ExpendablesItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpendablesItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expendables)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expendables.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff.StaffName)
        </dd>
    </dl>
</div>
<hr />
<div>
    <p>Получить этикетки на печать</p>
    <a asp-action="DownloadLabel" asp-route-size="@QrCodeSize.Small" asp-route-id="@Model.Id">30X20</a>|
    <a asp-action="DownloadLabel" asp-route-size="@QrCodeSize.Medium" asp-route-id="@Model.Id">58X40</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
