@model LTSMVC.Models.Staff

@{
    ViewData["Title"] = "Удаление Сотрудника";
}

<h1>Удаление сотрудника</h1>

<h3>Удаление сотрудника приведет к удалению всех дочерних записей и связей!</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffSub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffSub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPoss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPoss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TgId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
