@model LTSMVC.Models.Staff

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffSub)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffSub)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPoss)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaffPoss)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminU)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TgId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TgId)
        </dd>
        <dd>
            @Html.DisplayNameFor(model => model.ADName)
        </dd>
        <dt>
            @Html.DisplayFor(model => model.ADName)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
