@model IEnumerable<LTSMVC.Models.Staff>

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

<p>
    <a asp-action="Create">Добавить сотрудника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffSub)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffPoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffSub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffPoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
